$iconColor: #488aff;
$iconSize: 2rem;
page-home {
    .icon-kecheng::before,.icon-zuoye::before {
        color: $iconColor;
        font-size: $iconSize;
    }
    .lessonDesign, .homeWork {
        margin: 3px 0px;
        font-size: 1rem;
    }
    .badge {
        position: absolute;
        right: -1rem;
        top:0rem;
    }
    .slides {
        height: 200px;
    }
}
